<html>
	<head>
	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>DesiLingo</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="static/css/normalize.css">
	  <link rel="stylesheet" href="static/css/skeleton.css">
	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>LanguageLady</b>  - - [
                    <a href='/'>Home</a> ] - [
                    <a href='/about'>How it Works</a> ] 
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='five columns'>
                <img src='/static/images/the_lady.png' height=50%/>
            </div>
            <div class='five columns'>
                <h1>The Language Lady</h1>
                <p>Dedicated to the lady who believed in us while we were nought but seeds in the ground. The lady whose light gave us permission to let our own, shine.</p>
            </div>
        </div>
        <hr>
        <div class='container'>
            <button><a href='/start'>Learn a new language</a></button>
        </div>
    </body>
</html>
