<html>
	<head>
	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>DesiLingo</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="/static/css/normalize.css">
	  <link rel="stylesheet" href="/static/css/skeleton.css">
	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>LanguageLady</b>  - - [
                    <a href='/'>Home</a> ] - [
                    <a href='/start'>Start Learning</a> ] - [
                    <a href='/about'>How it Works</a> ] 
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='row'>
                <div class='five columns'>
                    <p>Here you can learn any language which we call the "<i>target</i>" while being taught in another language which we call the "<i>medium</i>"</p>
                    <p>In case you want to save your progress, all you need to do is supply a "<i>nickname</i>" with which we can identify you. You can come back later and continue where you left off</p>
                </div>
                <div class='five columns'>
                    <h1>The Flow</h1>
                    <ul>
                        <li>Specify three things: <i>target, medium, nickname</i></li>
                        <li>Go through the steps presented to you.</li>
                        <li>You can go and revise things too when you want</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <button><a href='/start'>Learn a new language</a></button>
        </div>
    </body>
</html>
