<html>
	<head>
	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>DesiLingo</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="static/css/normalize.css">
	  <link rel="stylesheet" href="static/css/skeleton.css">
	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <p>Learn any language in any other language</p>
        </div>
    </body>
</html>
