<html>
	<head>
	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>DesiLingo</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="/static/css/normalize.css">
	  <link rel="stylesheet" href="/static/css/skeleton.css">
      <style>
        .question {background-color: #F5F3F1;}
        .answer {background-color: #8145BA;}
        .hidden_q {background-color: #BF8EA9; display: none;}
      </style>
	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>LanguageLady</b>  - - [
                    <a href='/'>Home</a> ] - [
                    <a href='/start'>Start Learning</a> ] - [
                    <a href='/about'>How it Works</a> ] 
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <p><b>{{nickname}}:</b> learning <b>{{target}}</b> via the <b>{{medium}}</b> medium.</p>
            <hr>
        </div>
        <div class='container'>
            <div class='row'>
                <table class='eight columns question'>
                    <thead>
                        <tr>
                            <th>{{target}}</th><th>{{medium}} <button id='visibility_toggle' val='Show'>Show Translation</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{target_question}}</td><td class='hidden_q'>{{medium_question}}</td>
                        </tr>
                        <tr>
                            <td><input type='text' name='answer_target' value='Answer in {{target}}'></td>
                            <td class='hidden_q'></td>
                        </tr>
                    </tbody>
                </table>
                <div class='four columns'>
                    Links for this level:
                    <ul>
                          % for link in links[:10]:
                              <li><a href={{link[0]}}>{{link[1]}}</a></li>
                          % end
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <button><a href='/learn/{{nickname}}/{{target}}/{{medium}}/{{nextlevel}}'>Proceed to the next Level</a></button>
        </div>
        <script>
            $('input:text').focus( function(){ $(this).val(''); });
            var visible=false;
            $('#visibility_toggle').click(function () {
                if(!visible){
                    $(".hidden_q").show();
                    $("#visibility_toggle").hide();
                }
            });
        </script>
    </body>
</html>
