<html>
	<head>
	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>DesiLingo</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="/static/css/normalize.css">
	  <link rel="stylesheet" href="/static/css/skeleton.css">
	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>LanguageLady</b>  - - [
                    <a href='/'>Home</a> ] - [
                    <a href='/start'>Start Learning</a> ] - [
                    <a href='/about'>How it Works</a> ] 
                </div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='five columns'>
                <h1>Begin the Journey</h1>
                <input type='text' name='nickname' placeholder='Nick Name'id='nickfield' value='<nickname>'/>
                <input type='text' name='target' placeholder='Target Language' id='targetfield' value='<target>'/>
                <input type='text' name='medium' placeholder='Medium Language' id='mediumfield' value='<medium>'/>
                    <button class='button-primary' id='go_button' >Begin Learning</button>
            </div>
            <div class='five columns'>
                <h1>Target URL</h1>
                <div id='target_url_para'></div>
            </div>
        </div>
        <hr>
        <div class='container'>
            <button><a href='/about'>How does this Work?</a></button>
        </div>
    <script>
        function update_url(){
            var nick = $("#nickfield").val();
            var target = $("#targetfield").val();
            var medium = $("#mediumfield").val();
            var url = "/learn/"+nick+"/"+target+"/"+medium+"/0";
            $('#target_url_para').text(url);
            return(url);
        }
        $( "#go_button" ).click(function() { var url = update_url(); document.location.href = url; });
        $('input:text').focus( function(){ $(this).val(''); });
        $( "#targetfield" ).change(function() { update_url() });
        $( "#nickfield" ).change(function() { update_url() });
        $( "#mediumfield" ).change(function() { update_url() });
        update_url();
    </script>
    </body>
</html>
